<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/addProduct">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Add Product</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/addCategory">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Add Category</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/addCountry">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Add Country</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/addSlider">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Add slider</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/orders">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">View All Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <form action="/admin/logout" method="POST">
                <button class="nav-link btn" type="">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title" style="width:100%;">Logout</span>
                </button>
            </form>
        </li>


    </ul>
</nav>