<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row footer">
                <div style="text-align:center"> <a href="/"><img class="img-responsive" src="images/logo.png"
                            alt="logo"> </a> </div>
                <address>
                    <p> <i class="pe-7s-map-marker"></i>Company, 12/34 - West 21st Street, New York, USA </p>
                    <p><i class="pe-7s-call"></i><span>+ (800) 0123 456 789</span> </p>
                    <p> <i class="pe-7s-mail-open"></i><span><a
                                href="mailto:email@domain.com">support@Templates.com</a></span></p>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <div class="footer-links">
                        <h4>Useful links</h4>
                        <ul class="links">
                            <li><a href="#" title="Help &amp; FAQs">Help &amp; FAQs</a></li>
                            <li><a href="/account" title="Order history">Order history</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <div class="footer-links">
                        <h4>Service</h4>
                        <ul class="links">
                            <li><a href="/account">Account</a></li>
                            <li><a href="/cart">Shopping Cart</a></li>
                            <li><a href="#">Return Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-2">
                    <div class="footer-links">
                        <h4>Information</h4>
                        <ul class="links">

                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/contact_us">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="footer-links">

                        <div class="social">
                            <h4>Follow Us</h4>
                            <ul class="inline-mode">
                                <li class="social-network fb"><a title="Connect us on Facebook" target="_blank"
                                        href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank"
                                        href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-network tw"><a title="Connect us on Twitter" target="_blank"
                                        href="https://twitter.com/"><i class="icon-social-twitter icons"></i></a></li>
                                <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank"
                                        href="https://www.pinterest.com/"><i class="fa fa-linkedin"></i></a></li>
                                <li class="social-network rss"><a title="Connect us on rss" target="_blank"
                                        href="https://instagram.com/"><i class="fa fa-rss"></i></a></li>
                                <li class="social-network instagram"><a title="Connect us on Instagram" target="_blank"
                                        href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-6 col-xs-12 coppyright">Copyright © 2017 <a href="#"> pixel </a>. All
                    Rights
                    Reserved. </div>

            </div>
        </div>
    </div>
</footer>