<!-- Basic page needs -->
<meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>7puff</title>
<meta name="description"
    content="best template, template free, responsive Template, fashion store, responsive Template, responsive html Template, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
<meta name="keywords"
    content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive Template, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template" />

<!-- Mobile specific metas  -->
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- CSS Style -->
<link rel="stylesheet" href="css/all.css">
<link rel="stylesheet" href="css/custome.css">