<!-- Related Products Slider -->

<div class="container mt-5">
    <div class="related-section">
        <div class="slider-items-products">
            <div class="related-block">
                <div class="jtv-block-inner">
                    <div class="block-title">
                        <h2>Related products</h2>
                    </div>
                </div>
                <div id="related-products-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid block-content">
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info"> <a class="product-image" title="Product Title Here"
                                            href="single_product.html"> <img class="img-responsive"
                                                alt="Product Title Here" src="images/products/img01.jpg"> </a>

                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Product Title Here"
                                                href="single_product.html"> Product
                                                Title Here </a> </div>
                                        <div class="item-content">
                                            <div class="rating"> <i class="fa fa-star-o"></i> <i
                                                    class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                    class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span
                                                            class="price">$225.00</span>
                                                    </span> </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related Products Slider End -->